.brand-link {
    font-size: 1rem !important;
}

.brand-link .brand-image {
    float: left;
    line-height: .8;
    margin-right: .75rem;
    margin-top: -6px !important;
    margin-bottom: -6px !important;
    max-height: 37px !important;
    width: auto;
}

.card {
  border-radius: 0.125rem !important;
}

.card[id="tab_introduction-box_summary"] {
  width: 500px !important;
}

.nav-pills .nav-link {
    border-radius: .125rem !important;
}

.main-footer {
    background-color: #f3f2f1;
    border-top: 1px solid #dee2e6;
    color: #323130;
    padding: 0.5rem;
}

.bg-primary {
    background-color: #5e8cbe!important;
}

.content-wrapper {
    background-color: #faf9f8 !important;
}

.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active, .sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active {
    background-color: #edebe9 !important;
    color: #000 !important;
}

[class*=sidebar-light-] .nav-sidebar>.nav-item>.nav-link.active {
    color: #323130;
    box-shadow: none !important;
}

.img-circle.elevation-3 {
  box-shadow: none !important;
}

[class*=sidebar-light-] {
    background-color: #ffffff;
}

.card-header {
    background-color: transparent;
    border-bottom: 1px solid rgba(0,0,0,.125);
    padding: 0.5rem 1.25rem !important;
    position: relative;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.body {
  font-size: .9rem !important;
}


label:not(.form-check-label):not(.custom-file-label) {
    font-weight: 600;
}

.card-title {
    float: left;
    font-size: 1.1rem;
    font-weight: 400;
    padding: 2px 0 !important;
}

.checkbox-primary input[type="checkbox"]:checked+label::before, .checkbox-primary input[type="radio"]:checked+label::before {
    background-color: #5e8cbe;
    border-color: #5e8cbe;
}

.progress-bar {
    background-color: #5e8cbe;
}

.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}


[class*='sidebar-light-'] .nav-header {
    font-weight: 600 !important;
}

.nav-sidebar .nav-header:not(:first-of-type) {
    padding: 1.0rem 0.5rem .5rem !important;
}

.nav-sidebar .nav-header:first-of-type {
    padding: 1.0rem 0.5rem .5rem !important;
}


.footer-information {
    font-weight: 400;
    font-size: 1rem;
    margin-left: 7px;
    padding-left: 7px;
    padding-right: 7px;
    float: right;
    background: #b2c8e063;
    border-radius: 3px;
    line-height: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: #8080802e;
}


.footer-information-warning {
    font-weight: 400;
    font-size: 1rem;
    margin-left: 7px;
    padding-left: 7px;
    padding-right: 7px;
    float: right;
    background: #e0dfb263;
    border-radius: 3px;
    line-height: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: #8080802e;
}


.timeline>div>.timeline-item>.time {
    display: none;
}

.shiny-notification {
    position: fixed;
    top: 58px;
    right: 10px;
    min-width: 200px;
}


.contacts-list .shiny-input-container {
    width: auto;
    background: whitesmoke;
    color: black;
    border-radius: 3px;
    padding: 10px;
}

.fas.fa-download {
    font-weight: 900;
    margin-right: 6px;
}

.direct-chat-contacts {
  border-left: 1px solid #a3a3a3;
}

.enrichment-subtable .rt-pagination  {
  background: whitesmoke !important;
}

.Reactable .rt-tfoot, .Reactable .rt-thead {
    z-index: 1 !important;
}

.img-circle {
  border-radius: 0% !important;
}

.card.card-outline-tabs .card-header .nav-item .nav-link {
    border-left: 1px solid #dee2e6;
    margin-left: 0;
    padding-left: 12px; 
    padding-right: 12px; 
    font-size: medium;
    padding-top: 5px;
}

.rhandsontable[disabled="disabled"] {
  opacity: 50% !important;
}

